@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 0.2s;
}

body, html {
  color: white !important;
  background: black;
}

.feed-modal {
  background-color: #1e293b !important
}